body{min-width:100%;margin:0;padding:0}
body .producto{margin:0;padding:0;font-family:'Open Sans';font-size:16px;font-weight:300;color:#525252}
.producto .container{position:relative;width:100%;max-width:960px;margin:0 auto;padding:0 20px;box-sizing:border-box}
.producto .column,.producto .columns{width:100%;float:left;box-sizing:border-box;margin-left:4%}
.producto .column:first-child,.producto .columns:first-child{margin-left:0}
.one.column,.one.columns{width:4.66667%}
.two.columns{width:13.33333%}
.three.columns{width:22%}
.four.columns{width:30.66667%}
.five.columns{width:39.33333%}
.six.columns{width:48%}
.seven.columns{width:56.66667%}
.eight.columns{width:65.33333%}
.nine.columns{width:74%}
.ten.columns{width:82.66667%}
.eleven.columns{width:91.33333%}
.twelve.columns{width:100%;margin-left:0}
.one-third.column{width:30.66667%}
.two-thirds.column{width:65.33333%}
.one-half.column{width:48%}
.producto .offset-by-one.column,.producto .offset-by-one.columns{margin-left:8.66667%}
.producto .offset-by-two.column,.producto .offset-by-two.columns{margin-left:17.33333%}
.producto .offset-by-three.column,.producto .offset-by-three.columns{margin-left:26%}
.producto .offset-by-four.column,.producto .offset-by-four.columns{margin-left:34.66667%}
.producto .offset-by-five.column,.producto .offset-by-five.columns{margin-left:43.33333%}
.producto .offset-by-six.column,.producto .offset-by-six.columns{margin-left:52%}
.producto .offset-by-seven.column,.producto .offset-by-seven.columns{margin-left:60.66667%}
.producto .offset-by-eight.column,.producto .offset-by-eight.columns{margin-left:69.33333%}
.producto .offset-by-nine.column,.producto .offset-by-nine.columns{margin-left:78%}
.producto .offset-by-ten.column,.producto .offset-by-ten.columns{margin-left:86.66667%}
.producto .offset-by-eleven.column,.producto .offset-by-eleven.columns{margin-left:95.33333%}
.producto .offset-by-one-third.column,.producto .offset-by-one-third.columns{margin-left:34.66667%}
.producto .offset-by-two-thirds.column,.producto .offset-by-two-thirds.columns{margin-left:69.33333%}
.producto .offset-by-one-half.column,.producto .offset-by-one-half.columns{margin-left:52%}
.producto .container:after,.producto .row:after,.producto .u-cf{content:"";display:table;clear:both}
@media (max-width:550px){.producto .column,.producto .columns{margin-left:0}
.producto .container{width:80%}
article{padding:3rem 0}
.eight.columns,.eleven.columns,.five.columns,.four.columns,.nine.columns,.one.column,.one.columns,.seven.columns,.six.columns,.ten.columns,.three.columns,.two.columns{width:100%}
.twelve.columns{width:100%;margin-left:0}
.one-half.column,.one-third.column,.two-thirds.column{width:100%}}
.producto a{color:#FFF}
.producto img{max-width:100%;height:auto;width:auto\9}
.producto h1,.producto h2,.producto h3,.producto h4,.producto h5,.producto h6{font-weight:300;margin:0}
.producto h1{font-size:44px}
.producto header{background:url(https://jeffbredenkamp.neocities.org/bg.jpg) 0 0/cover #0469A7;min-height:800px;padding:0 0 50px;box-sizing:border-box}
.producto header h1{font-size:66px;color:#FFF;padding-top:70px;font-weight:600}
.producto header h2,.producto header p{color:#FFF}
.producto .hero{margin-top:80px}
.producto .appstorebutton{display:inline-block;max-height:100px;width:auto;padding-top:40px;padding-right:10px}
.producto .phone{max-width:220px;height:auto;float:right}
.producto .logo{position:absolute;left:20px;top:20px;max-width:100px;height:auto}
.producto .main_nav{top:0;max-height:50px;z-index:999;width:100%;padding-top:10px;overflow:hidden;-webkit-transition:all .3s;transition:all .3s;padding-bottom:6px}
.producto .socialIcons{color:#FFF;font-size:28px}
@media only screen and (max-width:766px){.producto .main_nav{padding-top:10px}}
.producto .open-nav{max-height:300px!important}
.producto nav{width:100%;margin-top:5px}
@media only screen and (max-width:766px){.producto nav{width:100%}}
.producto nav ul{list-style:none;overflow:hidden;text-align:right;padding:0}
@media only screen and (max-width:766px){.producto nav ul{padding-top:0;margin-bottom:22px;text-align:right;width:100%}}
.producto nav ul li{display:inline-block;margin-left:35px;line-height:1.5;letter-spacing:1px}
@media only screen and (max-width:766px){.producto nav ul li{width:100%;padding:7px 0;margin:0}
.producto nav ul li:first-child{margin-top:70px}}
.producto nav ul a{text-transform:uppercase;font-size:12px;text-decoration:none}
.producto nav ul a:hover{color:#CFCFCF}
.producto .mobile-toggle{display:none;cursor:pointer;font-size:20px;position:absolute;right:20px;top:20px;width:30px}
@media only screen and (max-width:766px){.producto .mobile-toggle{display:block}}
.producto .mobile-toggle span{width:30px;height:4px;margin-bottom:6px;background:#fff;display:block}
.producto #about{background:#F6F6F6;padding:80px 0;min-height:400px}
.producto #features{padding:80px 0;min-height:400px;background:#fff}
.producto .phoneFeature{max-width:220px;height:auto;display:block;margin:0 auto}
.producto #features h2{padding-top:20px}
.producto #contact{background:#F6F6F6;padding:80px 0;min-height:400px}
.producto form{font-family:'Open Sans';box-sizing:border-box;margin-top:50px}
.producto input,.producto textarea{float:left;width:100%;max-width:100%;border:none;margin:.5rem 0;padding:.5rem;border-radius:.3rem;background:#fff;color:#525252;font-family:'Open Sans';font-size:18px}
.producto input[type=submit],textarea[type=submit]{background:#0D8CB0;color:#fff;width:auto}
.producto input::placeholder,textarea::placeholder{color:#525252}
.producto input.error,textarea.error{background:#AD4747;color:#fff}
.producto input.error::placeholder,textarea.error::placeholder{color:#000}
.producto textarea{height:10rem}
.producto footer{background-color:#191919;padding:50px 0}
.producto footer p{color:#FFF;text-align:right}
.producto .icon{font-size:48px}
@media only screen and (max-width:766px){.producto header h1{font-size:46px;padding-top:10px}
.producto .hero{margin-top:40px}
.producto .appstorebutton{padding-top:0}
.producto .logo{max-width:70px}}
@media only screen and (max-width:550px){.producto .mobile-toggle{right:0;top:20px}
.producto .phone{display:none}}